body{
    background-color: rgb(138, 137, 136);
}
.container{
    margin-left: 12%;
    margin-top: 15%;
    width: 30%;
    height: 40%;
    font-size: 5rem;
    border: 2px solid black;
    border-radius: 10%;
    background-color: rgb(143, 137, 137);
    text-align: center;

}